table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

button {
    position: relative;
    width: 200px;
    height: 40px;
    font-size: 24px;
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    margin: 30px;
}

button:hover {
    background-color: black;
    color: white;
}